@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  font-family: 'Montserrat', sans-serif; }

section {
  padding: 6rem 0;
  position: relative;
  z-index: 9; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #383838; }

h2 {
  color: #315495;
  font-size: 32px; }

a {
  color: #3f63d7;
  text-decoration: none; }

a:focus {
  outline: none; }

.white_bg {
  background: #ffffff; }

.form-control, .form-control:focus {
  border-color: #315495;
  border-radius: 0; }

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #315495;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  border-radius: 0;
  width: 200px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  .btn:hover, .btn:focus {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    background-color: #3f63d7; }

div.fixed_bg {
  background: url("../img/footer_bg_2.jpg") no-repeat bottom;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0; }

.gradient_work {
  height: 100%;
  background: -moz-linear-gradient(to bottom, #ffffff, #e2e8f2, #bfcadf, #e2e8f2, #ffffff);
  /* ff3.6+ */
  background: -webkit-linear-gradient(to bottom, rgba(245, 245, 245, 0.9) 0%, rgba(226, 232, 242, 0.9) 39%, rgba(191, 202, 223, 0.9) 99%, rgba(245, 245, 245, 0.9) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(to bottom, rgba(245, 245, 245, 0.9) 0%, rgba(226, 232, 242, 0.9) 39%, rgba(191, 202, 223, 0.9) 99%, rgba(245, 245, 245, 0.9) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(to bottom, rgba(245, 245, 245, 0.9) 0%, rgba(226, 232, 242, 0.9) 39%, rgba(191, 202, 223, 0.9) 99%, rgba(245, 245, 245, 0.9) 100%);
  /* ie10+ */
  background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0.9) 0%, rgba(226, 232, 242, 0.9) 39%, rgba(191, 202, 223, 0.9) 99%, rgba(245, 245, 245, 0.9) 100%); }

.gradient_about {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
  background: rgba(235, 232, 235, 0.7);
  background: -moz-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
  background: -webkit-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%); }

.about_bg {
  background: url("../img/footer_bg.jpg") bottom no-repeat rgba(240, 240, 240, 0.8);
  background-size: cover; }

/****** header ********/
header {
  background-color: #ffffff;
  min-width: 100%;
  min-height: 60px;
  position: fixed;
  -webkit-box-shadow: 0 8px 6px -6px rgba(205, 205, 205, 0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(205, 205, 205, 0.7);
  box-shadow: 0 8px 6px -6px rgba(205, 205, 205, 0.7); }
  header nav {
    padding: 0; }
    header nav .navbar-brand {
      padding: 0;
      margin: 0; }
      header nav .navbar-brand img {
        max-height: 60px; }
    header nav ul li {
      padding-right: 1rem; }
      header nav ul li a {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1rem; }
        header nav ul li a.active {
          background-color: #315495;
          color: #ffffff; }

/****** footer *****/
footer {
  background-size: 100%;
  padding: 5rem 0 3rem;
  z-index: 9; }
  footer .column {
    padding: 30px;
    background: #ffffff;
    margin: 40px auto;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
    footer .column h2 {
      margin-bottom: 30px;
      text-align: center; }
  footer .col-md-12 p {
    float: left;
    margin-bottom: 0;
    line-height: 45px;
    color: #ffffff; }
  footer ul {
    float: right; }
    footer ul li {
      float: left;
      margin-left: 0.5rem;
      min-width: 30px;
      text-align: center; }
      footer ul li a {
        display: block;
        padding: 0 0.5rem 0; }
        footer ul li a i {
          font-size: 2rem;
          color: #ffffff; }
        footer ul li a:hover i, footer ul li a:active i {
          color: #3f63d7; }

/**** coverr *****/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute; }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%; }
  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0; }
    .video-container video.fillWidth {
      width: 100%; }

/******* home ****/
.landing {
  height: 100%; }
  .landing .middeleText {
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .landing .middeleText div {
      margin: auto;
      z-index: 9; }
      .landing .middeleText div h1 {
        color: #ffffff;
        letter-spacing: 1px;
        text-shadow: 2px 2px transparent; }

.group {
  position: relative;
  margin-bottom: 30px;
  /* active state */
  /* active state */ }
  .group input, .group textarea {
    font-size: 16px;
    padding: 7px 7px 7px 4px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #315495; }
  .group:focus {
    outline: none; }
  .group label {
    color: #383838;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all; }
  .group input:focus ~ label, .group input:valid ~ label, .group textarea:focus ~ label, .group textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #315495; }
  .group .bar {
    position: relative;
    display: block;
    width: 100%; }
    .group .bar:before, .group .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #315495;
      transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all; }
    .group .bar:before {
      left: 50%; }
    .group .bar:after {
      right: 50%; }
  .group input:focus ~ .bar:before, .group input:focus ~ .bar:after, .group textarea:focus ~ .bar:before, .group textarea:focus ~ .bar:after {
    width: 50%; }
  .group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .group input:focus ~ .highlight, .group textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.5s ease;
    -moz-animation: inputHighlighter 0.5s ease;
    animation: inputHighlighter 0.5s ease; }

.column {
  max-width: 500px;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0; }

div.title {
  text-align: center;
  margin-bottom: 3rem;
  width: 100%; }
  div.title h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    display: inline-block;
    padding: 0.5rem 1rem; }

div.card {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border: none;
  background: #ffffff;
  border-radius: 0;
  position: relative;
  margin-bottom: 2rem;
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  overflow: hidden; }
  div.card .overlay_s {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .35s ease;
    overflow: auto;
    z-index: 1;
    opacity: 0; }
  div.card.project_1 .overlay_s {
    background-color: rgba(247, 144, 60, 0.65); }
  div.card.project_2 .overlay_s {
    background-color: rgba(252, 26, 25, 0.65); }
  div.card.project_3 .overlay_s {
    background-color: rgba(44, 123, 198, 0.65); }
  div.card.project_4 .overlay_s {
    background-color: rgba(2, 123, 182, 0.65); }
  div.card .card-block {
    color: #323232;
    padding: 0; }
    div.card .card-block .card-header {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      background-repeat: repeat-x;
      background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(transparent), to(#111111));
      background: -webkit-linear-gradient(top, transparent, #111111);
      background: -moz-linear-gradient(top, transparent, #111111);
      background: -ms-linear-gradient(top, transparent, #111111);
      background: -o-linear-gradient(top, transparent, #111111);
      border: none;
      padding: 0.8rem 0.5rem; }
      div.card .card-block .card-header a {
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
        font-weight: 500;
        color: #ffffff; }
    div.card .card-block figure {
      margin-bottom: 0; }
      div.card .card-block figure img {
        margin-bottom: 0;
        width: 100%;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; }
  div.card .card-footer {
    display: none;
    background: transparent;
    border: none;
    padding: 0.8rem 0.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    div.card .card-footer h4 {
      color: #ffffff;
      overflow: hidden;
      font-weight: 500;
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 1.5rem; }
    div.card .card-footer a {
      text-decoration: underline;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      bottom: 45%;
      left: 0;
      width: 100%;
      text-align: center; }
  div.card:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  div.card:hover .overlay_s {
    opacity: 1; }
  div.card:hover .card-footer {
    display: block; }
  div.card:hover .card-header {
    visibility: hidden; }

/*** modal ***/
div.modal {
  color: #232323; }
  div.modal .modal-content {
    border-radius: 0;
    border: none; }
  div.modal .modal-body {
    text-align: center;
    padding: 2rem; }
    div.modal .modal-body h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: #315495; }
    div.modal .modal-body label {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 1rem;
      color: #315495; }
    div.modal .modal-body p {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1.5rem; }
    div.modal .modal-body ul {
      margin-bottom: 1rem; }
    div.modal .modal-body .modal-footer {
      display: block;
      border: none; }
      div.modal .modal-body .modal-footer a {
        display: block;
        padding: 1rem 0;
        text-decoration: underline; }
        div.modal .modal-body .modal-footer a:focus {
          text-decoration: underline;
          color: #3f63d7; }
      div.modal .modal-body .modal-footer p {
        margin-bottom: 1rem; }

.gradient_header {
  background-color: #dedede;
  background-repeat: repeat-y;
  background: -webkit-linear-gradient(left, #fafafa, #dedede);
  background: -moz-linear-gradient(left, #fafafa, #dedede);
  background: -ms-linear-gradient(left, #fafafa, #dedede);
  background: -o-linear-gradient(left, #fafafa, #dedede); }

div.border-box {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.5rem; }
  div.border-box h3 {
    margin-bottom: 2rem; }
  div.border-box .circle {
    padding: 1rem; }
    div.border-box .circle .circles-text {
      font-size: 1.3rem !important; }
  div.border-box ul {
    padding: 1rem 0;
    margin-bottom: 1rem; }
    div.border-box ul li {
      font-weight: 500;
      line-height: 1.2rem;
      padding-bottom: 1rem; }

/****** about ******/
.middeleText {
  height: 100%;
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .middeleText .about_me {
    margin: auto 0;
    padding: 3rem;
    color: #ffffff; }
    .middeleText .about_me h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      padding-bottom: 1rem;
      font-weight: 500;
      color: #ffffff; }
    .middeleText .about_me p {
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding-bottom: 2rem; }
    .middeleText .about_me a {
      text-decoration: underline;
      font-weight: 500;
      color: #ffffff; }

/***** keyframes *********/
@keyframes typing_text {
  from {
    width: 0; }
  to {
    width: 600px; } }

@keyframes rotate_object {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-100px) rotate(180deg); }
  100% {
    transform: translateY(0px) rotate(360deg); } }

.some_text {
  animation: rotate_object 3s alternate infinite;
  color: yellow;
  display: inline-block;
  font-size: 4.5rem; }

.some_text {
  animation: typing_text 2s steps(23);
  overflow: hidden;
  white-space: nowrap; }
