@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');
$bgColor: rgba(63,99,115,0.8);
$primaryColor: #315495;
$defaultColor: #383838;
$link: #3f63d7;
$white: #ffffff;
body{font-family: 'Montserrat', sans-serif;}
section{padding: 6rem 0;position: relative;z-index: 9;}
ul,li{padding: 0;margin: 0;list-style: none;}
h1{font-size:3rem;font-weight: 600; color: $defaultColor;}
h2{color: $primaryColor;font-size: 32px;}
a{color: $link;text-decoration: none;}
a:focus{outline: none;}
.white_bg {background: #ffffff;}
.form-control,.form-control:focus{border-color: $primaryColor;border-radius: 0;}
.btn{
  text-decoration: none;
  color: #fff;
  background-color: $primaryColor;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  border-radius: 0;
  width: 200px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  &:hover, &:focus{
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background-color: $link;
  }
}
div.fixed_bg{background: url("../img/footer_bg_2.jpg") no-repeat bottom;position: fixed;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;background-size: cover;z-index: 0;}
.gradient_work{height: 100%;background: -moz-linear-gradient(to bottom, #ffffff, #e2e8f2, #bfcadf, #e2e8f2, #ffffff); /* ff3.6+ */
  background: -webkit-linear-gradient(to bottom, rgba(245,245,245, 0.9) 0%, rgba(226,232,242, 0.9) 39%, rgba(191,202,223,0.9) 99%, rgba(245,245,245,0.9) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(to bottom, rgba(245,245,245, 0.9) 0%, rgba(226,232,242, 0.9) 39%, rgba(191,202,223,0.9) 99%, rgba(245,245,245,0.9) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(to bottom, rgba(245,245,245, 0.9) 0%, rgba(226,232,242, 0.9) 39%, rgba(191,202,223,0.9) 99%, rgba(245,245,245,0.9) 100%); /* ie10+ */
  background-image: linear-gradient(to bottom, rgba(245,245,245, 0.9) 0%, rgba(226,232,242, 0.9) 39%, rgba(191,202,223,0.9) 99%, rgba(245,245,245,0.9) 100%);}
.gradient_about {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
  background: rgba(235, 232, 235, 0.7);
  background: -moz-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
  background: -webkit-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(228, 228, 228, 0.6) 10%, rgba(71, 92, 222, 0.6) 51%, rgba(45, 107, 195, 0.6) 100%);
}
.about_bg{background: url("../img/footer_bg.jpg") bottom no-repeat rgba(240,240,240,0.8);background-size: cover;}
/****** header ********/
header {
  background-color: $white;
  min-width: 100%;
  min-height: 60px;
  position: fixed;
  -webkit-box-shadow: 0 8px 6px -6px rgba(205,205,205,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(205,205,205,0.7);
  box-shadow: 0 8px 6px -6px rgba(205,205,205,0.7);
  nav {padding: 0;
    .navbar-brand {
      padding: 0;
      margin: 0;
      img {
        max-height: 60px;
      }
    }
    ul {
      li {
        padding-right: 1rem;
        a{
          font-size: 1rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          &.active{
            background-color: $primaryColor;
            color:$white;
          }
        }
      }
    }
  }
}
/****** footer *****/
footer{
  background-size: 100%;
  padding: 5rem 0 3rem;
  z-index: 9;
  .column{
    padding: 30px;
    background: #ffffff;
    margin: 40px auto;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    h2{
      margin-bottom: 30px;
      text-align: center;
    }
  }
  .col-md-12 {
    p {
      float: left;
      margin-bottom: 0;
      line-height: 45px;
      color: #ffffff;
    }
  }
  ul{
    float: right;
    li {
      float: left;
      margin-left: 0.5rem;
      min-width: 30px;
      text-align: center;
      a {
        display: block;
        padding:0 0.5rem 0;
        i{
          font-size: 2rem;
          color: #ffffff;
        }
        &:hover i, &:active i{
          color: $link;
        }
      }
    }
  }
}
/**** coverr *****/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  &:before{

  }
}
.no-video .video-container video,
.touch .video-container video {display: none;}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  .poster img{
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  .filter{z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  video{
    position: absolute;
    z-index: 0;
    bottom: 0;
    &.fillWidth{
      width: 100%;
    }
  }
}

/******* home ****/
.landing{
  height: 100%;
  .middeleText{
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    div {
      margin: auto;
      z-index: 9;
      h1 {
        color: #ffffff;
        letter-spacing: 1px;
        text-shadow: 2px 2px transparent;
      }
    }
  }
}
.group{
  position:relative;
  margin-bottom:30px;
  input, textarea{
    font-size:16px;
    padding:7px 7px 7px 4px;
    display:block;
    width:100%;
    border:none;
    outline: none;
    border-bottom:1px solid $primaryColor;
  }
  &:focus{
    outline:none;
  }
  label {
    color: $defaultColor;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
  }
  input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label{
    top:-20px;
    font-size:14px;
    color:$primaryColor;
  }
  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $primaryColor;
      transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width: 50%;
  }
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input:focus ~ .highlight, textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.5s ease;
    -moz-animation: inputHighlighter 0.5s ease;
    animation: inputHighlighter 0.5s ease;
  }

}
.column{
  max-width: 500px;
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance:textfield;
  margin: 0;
}
div.title{
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
}
div.card{
  .overlay_s{
    width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;transition: opacity .35s ease;overflow: auto;z-index: 1;opacity: 0;
  }
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
  border:none;
  background: #ffffff;
  border-radius: 0;
  position: relative;
  margin-bottom: 2rem;
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  overflow: hidden;
  &.project_1 .overlay_s{
    background-color: rgba(247,144,60,0.65);
  }
  &.project_2 .overlay_s{
    background-color: rgba(252,26,25,0.65);
  }
  &.project_3 .overlay_s{
    background-color: rgba(44,123,198,0.65);
  }
  &.project_4 .overlay_s{
    background-color: rgba(2,123,182,0.65);
  }
  .card-block {
    color: #323232;
    padding: 0;
    .card-header {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(0, 0, 0);
      background-repeat: repeat-x;
      background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(transparent), to(#111111));
      background: -webkit-linear-gradient(top, transparent, #111111);
      background: -moz-linear-gradient(top, transparent, #111111);
      background: -ms-linear-gradient(top, transparent, #111111);
      background: -o-linear-gradient(top, transparent, #111111);
      border: none;
      padding: 0.8rem 0.5rem;
      a {
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
        font-weight: 500;
        color: #ffffff;
      }
    }
    figure {
      margin-bottom: 0;
      img {
        margin-bottom: 0;
        width: 100%;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
      }
    }
  }

  .card-footer {
    display:none;
    background: transparent;
    border: none;
    padding: 0.8rem 0.5rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    h4 {
      color: #ffffff;
      overflow:hidden;
      font-weight: 500;
      position: absolute;
      top:1rem;
      left: 1rem;
      font-size: 1.5rem;
    }
    a {
      text-decoration: underline;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      bottom: 45%;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
  &:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  &:hover .overlay_s {
    opacity: 1;
  }
  &:hover .card-footer {
    display: block;
  }
  &:hover .card-header {
    visibility: hidden;
  }
}

/*** modal ***/
div.modal{
  color: #232323;
  .modal-content {
    border-radius: 0;
    border:none;
  }
  .modal-body {
    text-align: center;
    padding: 2rem;
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: $primaryColor;
    }
    label {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 1rem;
      color: $primaryColor;
    }
    p{
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
    ul {
      margin-bottom: 1rem;
    }
    .modal-footer {
      display: block;
      border:none;
      a {
        display: block;
        padding: 1rem 0;
        text-decoration:underline;
        &:focus {
          text-decoration: underline;
          color: $link;
        }
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
.gradient_header {
  background-color: #dedede;
  background-repeat: repeat-y;
  background: -webkit-linear-gradient(left, #fafafa, #dedede);
  background: -moz-linear-gradient(left, #fafafa, #dedede);
  background: -ms-linear-gradient(left, #fafafa, #dedede);
  background: -o-linear-gradient(left, #fafafa, #dedede);
}

div.border-box{
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
  h3{
    margin-bottom: 2rem;
  }
  .circle {
    padding: 1rem;
    .circles-text {
      font-size: 1.3rem!important;
    }
  }
  ul{
    padding: 1rem 0;
    margin-bottom: 1rem;
    li {
      font-weight: 500;
      line-height: 1.2rem;
      padding-bottom: 1rem;
    }
  }
}

/****** about ******/
.middeleText{
  height: 100%;
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .about_me{
    margin: auto 0;
    padding:3rem;
    color: #ffffff;
    h2{
      font-size: 2rem;
      line-height: 2.5rem;
      padding-bottom: 1rem;
      font-weight: 500;
      color: #ffffff;
    }
    p{
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding-bottom: 2rem;
    }
    a{
      text-decoration: underline;
      font-weight: 500;
      color: #ffffff;
    }
  }
}
/***** keyframes *********/
@keyframes typing_text {
  from {
    width:0;
  }
  to {
    width: 600px;
  }
}
@keyframes rotate_object {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}
.some_text{
  animation: rotate_object 3s alternate infinite;
  color: yellow;
  display: inline-block;
  font-size: 4.5rem;
}
.some_text {
  animation: typing_text 2s steps(23);
  overflow: hidden;
  white-space: nowrap;
}
